
/* ---------------------------------- Reset --------------------------------*/

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: "Montserrat";
}

/* ---------------------------------- Header --------------------------------*/

header{
    background-color: #191919;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 5px 15%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.mostrar-menu, .esconder-menu{
    font-size: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.logo {
    cursor: pointer;
}

.logo img {
    height: auto;
    width: 200px;
    transition: transform 0.2s;
}

.logo img:hover {
    transform: scale(1.1);
}

.list_item{
    display: inline-block;
    list-style: none;
}

.list_item:hover {
    transform: scale(1.1);
}

.link {
    text-decoration: none;
    color: #f8f4e9;
    font-size: 12px;
    padding: 0 14px;
    font-family: 'Montserrat-SemiBold';
    position: relative;
}

.link:hover {
    color: rgb(255, 186, 83);
}

.btns {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.btn1{
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
}

.btn2 {
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    margin-top: 5px;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
}

.btn1:hover{
    transform: scale(1.1);
    background-color:  rgb(255, 186, 83);
    color: #191919;
}

.btn2:hover{
    transform: scale(1.1);
    background-color:  rgb(255, 186, 83);
    color: #191919;
}

/* ---------------------------------- Responsive --------------------------------*/


@media (max-width: 480px){

    /*Header*/

    header{
        background-color: #191919;
        display: flex;
        width: 480px;
        height: 90px;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        padding: 0 40px;
    }


    .logo img {
        height: auto;
        width: 150px;
        transition: transform 0.2s;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btn1{
        font-size: 9px;
        font-family: 'Montserrat-Bold';
        padding: 4px 4px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .btn2 {
        font-size: 9px;
        font-family: 'Montserrat-Bold';
        padding: 4px 4px;
        border-radius: 10px;
        cursor: pointer;
    }

    .mostrar-menu, .esconder-menu {
        display: block;
        top: 22px;
        left: 20px;  
        color: #f8f4e9;
        cursor: pointer;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 400px;
        background-color: #191919;
        left: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .link {
        font-size: 14px;
    }

    .list_item{
        display: block;
        padding: 16px;
    }

    .mostrar-menu{
        color: #f8f4e9;
        font-size: 30px;
    }

    .esconder-menu{
        color: #f8f4e9;
        position: absolute;
        top: 40px;
        left: 400px;
    }

#check:checked ~ .nav{
    left:0;
}

}