@import "fonts.css";

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: "Montserrat";
}

body {
    background-color: #ffffff;
}

/* ---------------------------------- Header y Menú Principal --------------------------------*/

header{
    background-color: #191919;
    display: flex;
    width: 100%;
    height: 100px;
    padding: 5px 15%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.logo img {
    height: auto;
    width: 200px;
    transition: transform 0.2s;
}

.logo img:hover {
    transform: scale(1.1);
}

.list_item{
    display: inline-block;
    list-style: none;
}

.list_item:hover {
    transform: scale(1.1);
}

.link {
    text-decoration: none;
    color: #f8f4e9;
    font-size: 14px;
    padding: 0 16px;
    font-family: 'Montserrat-SemiBold';
    position: relative;
}

.link:hover {
    color: rgb(255, 186, 83);
}

/* ---------------------------------- Botones --------------------------------*/
.btn1{
    font-size: 14px;
    font-family: Montserrat-Bold;
    padding: 4px 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn2 {
    font-size: 14px;
    font-family: Montserrat-Bold;
    padding: 4px 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn1:hover{
    transform: scale(1.1);
    background-color:  rgb(255, 186, 83);
    color: #191919;
}

.btn2:hover{
    transform: scale(1.1);
    background-color:  rgb(255, 186, 83);
    color: #191919;
}

/* ---------------------------------- Imagen de Portada --------------------------------*/

.imagen_portada{
    width: 100%;
    margin-bottom: 80px;
}

/* ---------------------------------- Contenedor Body --------------------------------*/

.contenedor {
    padding: 0px 15%;
}


/* ---------------------------------- Texto presentación e imagen de nuestra empresa --------------------------------*/
.nuestra-empresa {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.flota-de-autos {
    max-width: 40%;
    height: auto;
    margin-bottom: 40px;
}

.texto-principal {
    width: 55%;
}

.texto-principal h1 {
    font-size: 45px;
    color: #434343;
    margin-bottom: 40px;
}

.texto-principal p {
    font-size: 16px;
    color: #434343;
    margin: 25px 0 25px 0;
}


/* ---------------------------------- Mapa y Formulario de Contacto --------------------------------*/

.mapa_formulario {
    margin-top: 80px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    background-color: #5c5c5c;
}

.mapa {
    width: 40%;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 4px;
}

.formulario_contacto{
    width: 55%;
    background-color: #5c5c5c;
}

.formulario_contacto h2 {
    text-transform: uppercase;
    color: #000000;
    font-size: 30px;
    font-family: 'Montserrat-ExtraBold';
    margin-bottom: 35px;
}

.formulario_contacto input[type="text"],
.formulario_contacto input[type="email"],
.formulario_contacto input[type="tel"]{
    width: 100%;
    margin: 10px;
    padding: 10px; 
    border:none;
    background: none;
    outline: none;
    color: #ffff;
    border-bottom: 1px solid #000000;
}

.formulario_contacto textarea {
    width: 100%; 
    height: 100px;
    margin: 10px 0 10px;
    border: none;
    background: none;
    outline: none;
    color: #ffff;
    border-bottom: 1px solid #000000;
}

.formulario_contacto button {
    width: 120px;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 15px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.formulario_contacto label {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}


/* ---------------------------------- Footer --------------------------------*/

.footer {
    background-color: #191919;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer img {
    height: auto;
    width: 180px;
    margin: 0 100px;
    transition: transform 0.2s;
}

.footer img:hover {
    transform: scale(1.1);
}